@import '../../scss_modules/variables';
@import '../../scss_modules/mixins';

.country-component-container {
  @include flex(row, flex-start, space-around); 
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;  
  position: relative;  
}

.country-info-container {
  @include flex(column, center, space-around); 
  max-width: 800px;
  margin-right: 40px;  
}

.country-info-item {
  position: relative;
  z-index: 5;  
}
