@import '../../scss_modules/variables';

.chartwrapper {
  width: 96%;
  margin: 50px auto 50px;
  position: relative;
  padding-bottom: 50%;;
  .map {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: map-get($colors-bg, map);
  }
}

