@import '../../scss_modules/varitables';
@import '../../scss_modules/mixins';

.navbar-container {
  width: 100%;  
  ul {
   @include flex(row, center, center);
   background-color: rgba($color: #000000, $alpha: 0.7);
   li:not(.counry-name){
    color: map-get($colors-text, navbar);
    letter-spacing: 1px;
    padding: 10px 15px 10px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: .4s;
    &:hover {
      background-color: map-get($colors-bg, navbar-hover);
      color: rgba($color: #000000, $alpha: 0.7);
    }    
   }
   li.counry-name {
     h2 {
       margin: 0;
       padding-right: 20px;
       letter-spacing: 3px;
     }
   }
  }
  

}