@import './variables';
@import './mixins';


body {  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  min-height: 450px;
  @include flex(column, center, flex-end);  
}

h1,
h2 {
  color: map-get($colors-text, headers);
  max-width: 800px;
  text-align: center;
}
 button.error-btn {
   background: none;
   border: none;
   outline: none;
   padding: 10px;
   cursor: pointer;
   color: map-get($colors-text, error-btn);
   font-size: 22px;
   font-weight: 600;
   letter-spacing: 2px;
   transition: .4s ease-out;
   &:hover {
    color: map-get($colors-text, error-btn-hover);
   }
 }
