@import './variables';
@import './mixins';


body {  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  @include flex(column, center, flex-start);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  min-height: 700px;  
  animation: live-bg 50s infinite; 
}


 
 p {
  text-align: justify;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  &.description-txt {
    font-weight: 400;
    line-height: 2;
  }      
}

h1, h2, h3 {
  font-weight: 400;
  text-align: center;
  letter-spacing: 4px;
  position: relative;
}

h1 {
  color: map-get($colors-main, white-col);
  text-shadow: map-get($colors-main, black-col) 1px 1px;
  max-width: 800px;
  text-align: left;
  line-height: 1;
  margin-top: 70px;
  font-size: 72px;  
  span.country-name {
    font-size: 40px;
  }    
}
 
h2 {
  font-size: 32px;  
  &.title-underline-middle {    
    padding-bottom: 20px; 
    &:after {
      border-bottom: .2rem solid #dc221a;
      bottom: 0;
      content: "";
      display: block;
      left: 50%;
      margin-left: -1.5rem;
      position: absolute;
      width: 3rem;
    }   
  }  
  &.cities-list {
    text-align: left;
  }
}

h3 {
  font-size: 24px;  
  &.must-visit-title {        
    font-size: 28px;
  }    
}
h5 { 
  position: relative;
  z-index: 5;     
  margin-bottom: 40px;
  color: map-get($colors-main, white-col);      
  font-size: 20px;
  letter-spacing: 2px;
  text-shadow: map-get($colors-main, black-col) 1px 1px;
}

button {
  &.topBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: map-get($colors-main, black-col);
    color: map-get($colors-main, white-col);
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    &:hover {
      background-color: lighten(map-get($colors-main, black-col),30%);
    }
  }
  &.social-btn {
    @include flex(row, center, space-around);
    background: none;  
    border: none;
    padding: 0;  
    outline: none;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    transition-timing-function: ease-in;
    transition: 0.3s; 
    font-size: 18px;
    color: #fff; 
    letter-spacing: 1px;
    cursor: pointer;  
    &.google {
      background-color: #DD4B39;
      &:hover {
        background-color: #d73925;
      }
    }
    &.facebook {
      background-color: #3b5998;
      &:hover {
        background-color: #436499;
      }
    }
  } 
}

span {
  margin: 10px;
}






@keyframes live-bg {
  1% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 105% 115%;
  }
  100% {
    background-size: 100% 100%;
  }
}
