@import '../../scss_modules/variables';
@import '../../scss_modules/mixins';

.city-component-container {
  @include flex(row, flex-start, space-around);
  flex-wrap: wrap;
  width: 100%;
  padding-top: 50px;   
}

.must-visit-container {
  width: 96%;
  text-align: center;
  margin: auto;
  margin-top: 50px;  
}

.must-visit-item {
  @include flex(column, center, flex-end);
  width: 300px;
  height: 400px;
  position: relative;  
  margin: 5px;
  background-size: 130% 100%;
  background-repeat: no-repeat;
  transition: 0.5s;
  cursor: pointer;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 400px;
    box-sizing: inherit;
    transform: scale(0);    
    transition: 0.5s;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 400px;
    box-sizing: inherit;
    transition: 0.5s;
  }
  &:hover {
    background-size: 140% 110%;
    background-position-x: 15%;
    padding-bottom: 20px;       
    &:after {
      border: 2px solid map-get($colors-main, white-col);
      transform: scale(0.8);
    } 
    &:before {
      background-color: rgba($color: map-get($colors-bg, hover-effect), $alpha: 0.2);
    }
  }
}



@keyframes hover-effect {
  1% {
    transform: scale(0);
  }  
  100% {
    transform: scale(0.8);
  }
}