@import './scss_modules/variables';
@import './scss_modules/reset';
@import './scss_modules/mixins';
@import './scss_modules/layouts';
@import './scss_modules/module';

header {
  background-image: url(./assets/travel-EnnessyiStock.jpg);
}

.error-component {  
  background-image: url(./assets/something-went-wrong.gif);
}
.main-component-container {
  background-image: url(./assets/Italy_bg.jpg)
  
}